.contact__container {
    display: grid;
    width: 58%;
    grid-template-columns: 30% 58%;
    gap: 12%;

    }
    

.contact__options {
display: flex;
flex-direction: column;
gap: 1.2rem;    
}


.contact__option  {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px soid transparent;
    transition: var(--transition);
}
 .contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);

 }

 .contact__option-icon {
    font-size:  1.5rem;
    margin-bottom: 0.5 rem;

 }

 .contact__option a {
    font-size:  0.8rem;
    margin-top: 0.7 rem;
    display: inline-block;
 }

 /* FORM */

 form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
 }

 input, textarea {
    width: 100%;
    padding: 1.4rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid white;
    resize: none    ;
    color: var(--color-white);
 }

 @media screen and (max-width: 1024px) {
    /* .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem; */

    }
        

}

/* ============== MEDIA QUERIES ( SMALL DEVICES ) ================ */

@media screen and (max-width: 600px) {
/*   
    .container.contact__container {
         width: var(--container-width-sm); */

    /* } */

}


