@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

/* minute 32 */
:root { 
  --color-bg: #1f1f38;
  --color-white: white;
  --color-light: #4db5ff; 
  --color-primary: #4db5ff;  
  --color-bg-variant: #2c2c6c;

  --transition: all 400ms ease ;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
 



}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}



body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  /* background-image: url(../src/assets/background-image.png); */
}

/* ====================== GENERAL STYLES ======================= */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 25rem;
}

section > h1 ,
section > h2 , h5 {
  text-align: center;
  color: var(--color-primary);
}

section > h2 {
  color: var(--color-light);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
  transition: var(--transition);
}

a {
  color: var(--color-primary);
  transition: var(--color-white);
}

a:hover {
  color: var(--color-light);
}
.btn {
  width: max-content;
  display: inline-block;
  padding: 0.75rem 1.2rem;
  cursor: pointer; 
  border: 1px solid var(--color-primary);
  color: var(--color-light);

  border-radius: 0.4rem;
  transition: var(--transition);
}
.btn:hover{
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ============== MEDIA QUERIES ( MEDIUM DEVICES ) ================ */

@media screen and (max-width: 1024px) {
  .container{
    width: var(--container-width-md);

  }

  section {
    /* margin-top: 6rem; */
    height: 100vh ;
  }
  

}

/* ============== MEDIA QUERIES ( SMALL DEVICES ) ================ */

@media screen and (max-width: 600px) {
  .container{
    width: var(--container-width-sm);

  }

  section > h2{
    margin-bottom: 2rem;
  }
  
  
}
